.main-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
  background-color: white;
  .bg-image {
    width: 50%;
    height: 100%;
    object-fit: fill;
  }
}

.right {
  width: 40%;
  height: 100vh;
  background-color: #84a59d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  .input-register {
    width: 100%;
  }
}

//  FOR HANDPHONE
@media screen and (min-width: 360px) and (max-width: 480px) {
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: white;
    .bg-image {
      width: 50%;
      height: 100%;
      object-fit: fill;
    }
  }

  .right {
    width: 300px;
    height: 400px;
    background-color: #84a59d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin-bottom: 120px;
    .input-register {
      width: 100%;
    }
  }
}
